<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Bebbs" value="https://www.myget.org/F/bebbs/api/v2" />
  </packageSources>
  <activePackageSource>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="Bebbs" value="https://www.myget.org/F/bebbs/api/v2" />
  </activePackageSource>
</configuration>
